<h2>Edit post</h2>

<%= form_for :crew, url: crew_path(@crew), method: :patch do |f| %>
  <p>
    Crew name<br>
    <%= f.text_field :name %>
  </p>
  <p>
    Description<br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>