<section class="jumbotron text-center mb-0">
  <div class="container">
    <h1>The main page of the application.</h1>
    <p class="lead text-muted">This is the main page of the app.
      You can see all the created Crews and join one of them or create your new Crew and invite your friends or anybody
      else. Pay attention, please, you should be logged to see more about Crews. Good Luck!</p>
    <p>
    </p>
  </div>
</section>
<div class="container">
  <hr>
  <% unless @crews %>
    <hr>
    <h5>Not found any crews!</h5>
    <hr>
  <% else %>
    <% @crews.each do |crew| %>
      <hr>
      <h5>Name: <%= crew.name %></h5>
      <p>Description: <%= crew.description %></p>
      <p>Owner: <%= User.find(crew.user_id).email %></p>
      <%= link_to "See more", crew_path(crew), :class => 'btn btn-warning' %>
      <hr>
    <% end %>
  <% end %>
  <hr>
</div>